<div id="alertError" class="alert alert-danger my-3 d-none">
    <strong>Error</strong>
    <span></span>
</div>
<div id="alertSuccess" class="alert alert-success my-3 d-none">
    <strong>Success</strong>
    <span></span>
</div>
