<!-- Content -->
<div id="loader" class="loader mx-auto align-middle"></div>
<div id="comment_area" class="w-100 border-top pt-4 d-none">
    <div class="row d-none" id="comment_answer_box">
        <h4 class="ml-3">Selected answer:</h4>
        <div class="container-fluid mb-3" id="comment_answer_content"></div>
    </div>
    <div class="row">
        <div class="w-100 mx-3">
            <div id="comment_input">
                <div class="form-group">
                    <label for="comment_content">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment_content"></textarea>
                    <div class="invalid-feedback">
                        You cannot send an empty comment
                    </div>
                    <button type="button" class="btn mt-2" id="send" value="send">
                        <i class="fab fa-telegram-plane fa-lg mr-2"></i>Send</button>
                </div>
            </div>
            <div id="comments_notLogged" class="alert alert-info">
                <strong>You are not logged in!</strong><br/>Please <a href="login.jsp">login</a> to comment!
            </div>
            <div id="comments_alert" class="alert alert-danger"></div>
            <div id="commentToAnswer">
                <button type="button" class="btn btn-danger mb-2 float-right" id="cancel" value="cancel">
                    <i class="fas fa-times fa-lg mr-2"></i>Cancel reply</button>
                <label for="comment_answerTo" class="mt-2">In response of:</label>
                <div id="comment_answerTo"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="commentsList" class="w-100 px-3 py-2 border-top"></div>
    </div>
    <div class="mx-0">
        <button id="moreComments" class="btn" onclick="fetchComments(0, true);">Load other comments</button>
    </div>
</div>