<!-- Footer -->
<footer class="footer fixed-bottom">
    <div class="container-fluid">
        <div class="row mx-3 justify-content-between">
            <span class="text-muted">&copy; 2018 The StackOverflowers.</span>
            <span class="text-info d-none d-sm-block">No GDPR needed here!</span>
        </div>
    </div>
</footer>