<!-- CSS -->
<link rel="stylesheet" href="../webjars/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="../webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css">
<link rel="stylesheet" href="../webjars/octicons/4.3.0/build/octicons.min.css">
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i">
<link rel="stylesheet" href="../css/font.css">-->
<link rel="stylesheet" href="../css/sticky-footer-navbar.css">
<link rel="stylesheet" href="../css/height.css">
<link rel="stylesheet" href="../css/loader.css">