<!-- JS -->
<script type="text/javascript" src="../webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script type="text/javascript" src="../webjars/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../js/navbar.js"></script>
<script type="text/javascript" src="../js/sidebar.js"></script>