<!-- Metadata to be included in the header -->
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="The StackOverflowers">
<link rel="icon" href="../img/roundLogo.png">