<!-- Timeout fading modal -->
<div class="modal fade" id="modalTimeout" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Network issues <i class="far fa-frown ml-1"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><span class="d-block">There were errors communicating with the server.</span>
                    <span>Please check your connection and reload the page.</span></p>
                <p class="mb-0">Meanwhile, a team of highly trained monkeys has been dispatched to deal with this situation.</p>
            </div>
            <div class="modal-footer">
                <button id="btnModalReload" type="button" class="btn btn-primary">Reload</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation modal for moderate/delete -->
<div class="modal fade" id="modalYesNo" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalYNTitle">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p id="modalYNContent"></p>
            </div>
            <div class="modal-footer">
                <button id="btnModalYes" type="button" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation modal for redirect after moderate/delete -->
<div class="modal fade" id="modalYes" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalYTitle">Completed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p id="modalYContent">Operation completed, you will be redirected to the main page.</p>
            </div>
            <div class="modal-footer">
                <button id="btnModalOk" type="button" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>