<noscript>Javascript needs to be enabled for this interface to work!</noscript>
<header>
    <!-- Navbar, consider adding fixed-top to classes -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <span class="navbar-brand">
            <img src="../img/roundLogo.png" width="30" height="30">
            <a href="home.jsp" class="text-white">HeapQuestions</a>
        </span>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a id="btnSubm" class="nav-link" href="submission.jsp">
                    <i class="fas fa-pencil-alt fa-fw fa-lg"></i>
                    <span class="d-inline d-lg-none d-xl-inline">Submissions</span>
                </a></li>
                <li class="nav-item"><a id="btnFQ" class="nav-link" href="forum.jsp">
                    <i class="fas fa-question fa-fw fa-lg"></i>
                    <span class="d-inline d-lg-none d-xl-inline">Forum</span>
                </a></li>
                <!--<li class="nav-item"><a class="nav-link" href="#">
                    <i class="fas fa-plus fa-fw fa-lg"></i> More
                </a></li>-->
            </ul>

            <form class="form-inline my-3 my-lg-0 mr-auto ml-lg-3">
                <div class="input-group">
                    <input id="inputSearch" class="form-control" type="search"
                           placeholder="Search terms" aria-label="Search">
                    <div class="input-group-append">
                        <select class="custom-select" id="selectSearchType">
                            <option value="Submission" selected>in Submissions</option>
                            <option value="Forum">in Forum Questions</option>
                            <option value="SubmissionByTag">Sub. by tag</option>
                            <option value="ForumByTag">Forum by tag</option>
                        </select>
                    </div>
                    <div id="buttonSearchDiv" class="input-group-append">
                        <button id="btnSearch" class="btn btn-secondary" type="button">
                            <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>

            <form class="form-inline ml-0 ml-lg-3 mt-3 mt-lg-0 pb-2 pb-lg-0">
                <a id="btnLogin" class="btn btn-secondary mr-2" href="login.jsp">
                    <i class="fas fa-sign-in-alt"></i>
                    <span class="d-inline d-gl-none d-xl-inline">Login</span>
                </a>
                <a id="btnRegister" class="btn btn-secondary" href="register.jsp">
                    <i class="fas fa-user-plus"></i>
                    <span class="d-inline d-lg-none d-xl-inline">Register</span>
                </a>
                <span id="spanUsername" class="text-white"></span>
                <a id="btnProfile" class="btn btn-secondary mr-2" href="homeUser.jsp">
                    <i class="fas fa-user"></i>
                    <span class="d-inline d-lg-none d-xl-inline">Profile</span>
                </a>
                <a id="btnLogout" class="btn btn-secondary" href="#">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="d-inline d-lg-none d-xl-inline">Logout</span>
                </a>
            </form>
        </div>
    </nav>
</header>