<div id="sidebar" class="d-none d-md-block col-md-3 border-left bg-light">
    <div id="cardNote" class="card mt-3">
        <div class="card-body">
            Notes
            <a class="btn btn-sm btn-secondary text-white float-right ml-3" role="button" href="list-note?token=">
                <i class="fas fa-list fa-fw"></i></a>
            <a class="btn btn-sm btn-secondary text-white float-right" role="button" href="create_note.jsp">
                <i class="fas fa-plus fa-fw"></i></a>
        </div>
    </div>
    <div id="cardFQ" class="card my-3">
        <div class="card-header">
            Recent Forum Questions
            <a class="btn btn-sm btn-secondary text-white float-right" role="button" id="btnAddFq" href="create_forumquestion.jsp">
                <i class="fas fa-plus fa-fw"></i>
            </a>
        </div>
        <div class="loader mx-auto my-2" id="loaderFQ"></div>
        <div id="contentBodyFQ" class="d-none my-2">
            <ul id="cardFQList" class="list-group list-group-flush"></ul>
        </div>
    </div>
    <div id="cardSub" class="card mb-3">
        <div class="card-header">
            Recent Submissions
            <a class="btn btn-sm btn-secondary text-white float-right" role="button" id="btnAddSub" href="create_submission.jsp">
                <i class="fas fa-plus fa-fw"></i>
            </a>
        </div>
        <div class="loader mx-auto my-2" id="loaderS"></div>
        <div id="contentBodyS" class="d-none my-2">
            <ul id="cardSubList" class="list-group list-group-flush"></ul>
        </div>
    </div>
</div>