#sidebar {
    position: fixed;
    top: 60px;        /* Navbar height */
    bottom: 40px;     /* Footer height */
    right: 0;         /* Right side */
    overflow-y: auto; /* Scrollable if longer */
}

#sidebar .card-header {
    vertical-align: middle;
}

#sidebar .card-body:first-child {
    background-color: rgba(0, 0, 0, .03);
    padding: .75rem 1.25rem;
}

.full-height {
    min-height: calc(100vh - 60px - 40px);
    overflow-y: auto;
}
