.loader {
    align-self: center;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #555555; /* Grey */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}