/* Sticky footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 60px;    /* Navbar height */
    margin-bottom: 40px; /* Footer height */
}

.footer {
    height: 40px;      /* Fixed height of the footer */
    line-height: 40px; /* Vertically center text */
    background-color: #f5f5f5;
}

/* Navbar */
#buttonSearchDiv {
    margin-left: 0;
}

#selectSearchType {
    border-radius: 0;
}
